.test{
  text-align: center;
  font-family: sans-serif;
}

.content{
  text-align: center;
}

body{
  background-color: gold;
  background-image: url(assets/Media/images/excalibar.gif);
}

p{
  font-family: 'sans-serif'
}

/*
.ex{
  border-radius: 4px;
  max-width: 100%;
}
